openapi: 3.1.0
info:
  title: 爱域查域名研究 API
  version: 0.1.0-draft
  summary: 面向域名研究场景的拟议公开 API 契约。
  description: |
    草案 / 尚未上线。本 OpenAPI 文档描述爱域查未来可能提供给外部开发者的公开接口形态。
    它与爱域查当前内部服务刻意解耦，不代表这些接口现在已经部署。

    公开契约把 observations（事实）、inferences（推断）和 next_steps（下一步）分开，
    并且不暴露内部 provider、worker、job、node、cache、cost、credential 或诊断字段。
  contact:
    name: AIYucha
    url: https://aiyucha.com/
servers:
  - url: https://api.aiyucha.com/v1
    description: 规划中的生产 Base URL；除非后续单独宣布，否则视为尚未上线。
tags:
  - name: 网络与拦截
  - name: 备案与注册
  - name: 外链与引用域
  - name: 域名历史
  - name: 域名估价
  - name: 百度 SEO
security:
  - ApiKeyAuth: []
paths:
  /domains/{domain}/network:
    get:
      tags: [网络与拦截]
      operationId: getDomainNetworkResearch
      summary: 查询域名可达性、拦截和 DNS 相关信号
      parameters:
        - $ref: '#/components/parameters/Domain'
      responses:
        '200':
          description: 规范化的网络研究结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /domains/{domain}/icp:
    get:
      tags: [备案与注册]
      operationId: getDomainIcpResearch
      summary: 查询当前或历史 ICP 备案相关证据
      parameters:
        - $ref: '#/components/parameters/Domain'
      responses:
        '200':
          description: 规范化的备案研究结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /domains/{domain}/backlinks:
    get:
      tags: [外链与引用域]
      operationId: getDomainBacklinkResearch
      summary: 查询外链、引用域和历史外链信号
      parameters:
        - $ref: '#/components/parameters/Domain'
      responses:
        '200':
          description: 规范化的外链研究结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /domains/{domain}/history:
    get:
      tags: [域名历史]
      operationId: getDomainHistoryResearch
      summary: 查询历史建站、公开痕迹和历史快照
      parameters:
        - $ref: '#/components/parameters/Domain'
      responses:
        '200':
          description: 规范化的域名历史结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /domains/{domain}/valuation:
    post:
      tags: [域名估价]
      operationId: createDomainValuation
      summary: 基于证据生成域名估价结果
      parameters:
        - $ref: '#/components/parameters/Domain'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                currency:
                  type: string
                  enum: [CNY, USD]
                  default: CNY
                purpose:
                  type: string
                  enum: [purchase, sale, seo, brand, general]
                  default: general
      responses:
        '200':
          description: 带依据的域名估价结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /domains/{domain}/baidu:
    get:
      tags: [百度 SEO]
      operationId: getDomainBaiduResearch
      summary: 查询百度收录和第三方 SEO 可见性信号
      description: |
        “百度权重”按第三方 SEO 概念处理，不视为百度官方发布的分数。
      parameters:
        - $ref: '#/components/parameters/Domain'
      responses:
        '200':
          description: 规范化的百度 SEO 研究结果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResearchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 拟议公开 API Key 请求头。当前仅为草案，本仓库不会发放真实 Key。
  parameters:
    Domain:
      name: domain
      in: path
      required: true
      description: 要查询的注册域名或主机名。
      schema:
        type: string
        minLength: 1
        example: example.com
  schemas:
    ResearchResponse:
      type: object
      additionalProperties: false
      required: [request_id, status, domain, observed_at, observations]
      properties:
        request_id:
          type: string
          example: req_01HYPOTHETICAL
        status:
          type: string
          enum: [completed, partial, unavailable]
        domain:
          type: string
          example: example.com
        observed_at:
          type: string
          format: date-time
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        inferences:
          type: array
          items:
            $ref: '#/components/schemas/Inference'
        next_steps:
          type: array
          items:
            type: string
        warnings:
          type: array
          items:
            type: string
    Observation:
      type: object
      additionalProperties: false
      required: [kind, status]
      properties:
        kind:
          type: string
          example: referring_domains
        status:
          type: string
          enum: [observed, not_observed, unavailable]
        value: {}
        evidence:
          type: string
        observed_at:
          type: string
          format: date-time
    Inference:
      type: object
      additionalProperties: false
      required: [text, confidence]
      properties:
        text:
          type: string
        confidence:
          type: string
          enum: [low, medium, high]
        based_on:
          type: array
          items:
            type: string
    Error:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: invalid_domain
            message:
              type: string
            request_id:
              type: string
  responses:
    BadRequest:
      description: 域名或请求参数无效
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: 缺少或使用了无效的公开 API Key
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: 超出公开 API 额度或限流
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
